.dropdown {
    height: 100%;
    position: relative;
}

.button {
    padding:0 13px 0;
    width: 51px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background-color: #3e3e3e;
    margin-right: 7px;
}

.button.active {
    background-color: #4e5257;
}

.button span {
    width: 100%;
    display: block;
    height: 1px;
    background-color: #fff;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    content-visibility: hidden;
}
.button span + span {
    margin-top: 5px;
}

.list {
    display: none;
    position: absolute;
    top: 100%;
    width: 100vw;
    background-color: var(--color-dropdown-bg);
    z-index: 11;
    border-left: 1px solid var(--color-dropdown-bg);
    border-right: 1px solid var(--color-dropdown-bg);
    border-bottom: 1px solid var(--color-dropdown-bg);
}
.list.active {
    display: block;
}

@media (min-width: 768px) {
    .dropdown {
        order: 2;
    }
    .button {
        padding: 0 15px 0 0;
        margin: 0;
        max-width: 275px;
        min-width: 190px;
    }
    .button span:nth-child(odd) {
        display: none;
    }
    .button span:nth-child(even) {
        display: flex;
        align-items: center;
        width: 100%;
        content-visibility: visible;
        height: initial;
        color: var(--color-text-white);
        background-color: initial;
        margin: 0;
        border-top: 0;
        border-bottom: 0;
        font-size: 15px;
        letter-spacing: 0.25px;
    }
    .button span:nth-child(even)::before {
        content: attr(data-content);
        background: url("../../images/svg/home.svg") center no-repeat;
        background-size: contain;
        display: block;
        width: 48px;
        height: 16px;
    }
    .button span:nth-child(even).hide::before {
        background: none;
        width: 70px;
        height: 20px;
        text-align: center;
        font-size: 13px;
    }
    .button span:nth-child(even)::after {
        content: '';
        background: url("../../images/svg/triangle.svg") center no-repeat;
        background-size: contain;
        display: block;
        margin-left: auto;
        width: 9px;
        height: 20px;
        transition: rotate 300ms;
    }
    .button.active span:nth-child(even)::after {
        rotate: 90deg;
    }
    .list {
        width: 100%;
    }
}