.page {
    /*width: 100%;*/
    font-family: var(--font-alt);
}
.heading {
    font-size: 0;
    margin-bottom: 20px;
    /*width: 100%;*/
}
.heading a {
    color: #123;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    /*font-family: var(--font-alt);*/
}

.author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    /*width: calc(100% - 52px);*/
}
.avatar {
    font-size: 0;
    margin-right: 10px;
}
.image {
    height: 42px;
}
.info {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: flex-start;
}
.bottom {
    margin-top: 3px;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.nickname {
    width: calc(95%);
    margin-left: 10px;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.nickname > span {
    font-size: 15px;
    height: 18px;
    font-weight: 600;
}
.commentsCounter {
    position: relative;
    padding-left: 19px;
    padding-right: 15px;
    margin-right: 15px;
}
.commentsCounter::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 19px;
    height: 14px;
    background: url("../../images/svg/comments.svg") no-repeat;
    background-size: contain;
}
.commentsCounter::after {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #acb1b4;
}
.time {
    position: relative;
    padding-left: 18px;
}
.time::before {
    content: '';
    background: url("../../images/svg/feather.svg") no-repeat;
    background-size: contain;
    display: block;
    width: 15px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
/*.link {*/
/*    color: var(--color-link);*/
/*    text-decoration: none;*/
/*}*/
.text {
    line-height: 1.65;
    font-size: 13px;
    margin-bottom: 10px;
}
.quote {
    background: #f9f9f9;
    border: 1px dashed #DDDDDD;
    color: #333333;
    font-style: italic;
    /*margin: 5px;*/
    overflow: hidden;
    padding: 5px 10px;
}
.nameEn {
    display: none;
}
.text br {
    content: '';
    display: block;
    margin-bottom: 5px;
}
.youtube.video {
    width: 235px;
    position: relative;
    height: 131px;
    /*padding: 51% 0 0 0; !*31%*!*/
    overflow: hidden;

}
.youtube.video img {
    position: absolute;
    top: 0;
    transform: translateY(-12.5%);
    width: 100%;
}
.youtube.video:hover::before {
    opacity: 1;
}
.youtube.video::before {
    transition: all 0.3s;
    content: '';
    display: block;
    opacity: 0;
    background:
        url("../../images/svg/youtube_logo.svg")
        no-repeat
        center
        rgba(21, 21, 21, 0.5);
    background-size: 100px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
@media (min-width: 768px) {
    .heading a {
        font-size: 30px;
    }
    .image {
        width: 48px;
        height: 48px;
    }
}