.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
}
.image {
    width: 100%;
    height: calc(100% - 20px);
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title {
    display: block;
    line-height: 20px;
    color: var(--color-link);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card + .card {
    margin-left: 15px;
}