.prop {
    line-height: 1.65;
    font-family: var(--font-main);
    font-size: 13px;
    margin-bottom: 4px;
}
.name {
    color: #7b8084;
    display: inline;
}
.value {
    color: #112233;
    font-weight: 700;
    display: inline;
}
@media (min-width: 768px) {
    .value {
        font-weight: 400;
    }
}